body {
    padding-top: 0px;
    max-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-height:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*bootstrap ovverides*/




.colorA {
    position:absolute;
    right:40px;
    background-color:aqua;
    border-radius: 8px;
}

.colorB {
    position: absolute;
    right: 40px;
    background-color: chartreuse;
    border-radius: 8px;
}

.colorC {
    position: absolute;
    right: 40px;
    background-color: red;
    border-radius: 8px;
}



.site-check {
    vertical-align: baseline;
}


.btn-sm {
    background-color:deepskyblue;
    font-size:x-small;
    margin-bottom:2px;
    margin-left:2px;
    
}

#papito {
    position: relative;
}

#kid{
    position:absolute;

    right:0.6%;
}
