@model LesioBlog2_Repo.Models.Comment

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "Comments", FormMethod.Post))
{
        @Html.Hidden("WpisID", ViewData["WpisID"])
    <div style="margin-left: 30px; padding: 2px">
        Comment here:
        <br>
        <textarea name="content" placeholder="Skomentuj!" style="margin-top: 12px; min-width: 90%; resize: none"></textarea>
        <br />
        <span style="margin-left: 0px">
            <div class="form-group">
                <div class=" col-md-1">
                    <input type="submit" class="btn-primary " value="Skomentuj" style="margin-top: 12px;" />
                </div>
            </div>
        </span>
    </div>


}






