@model LesioBlog2_Repo.Models.Comment




    <div style="padding-bottom: 0px;margin-left: 0px; font-size: 12px">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Details", "Details", "Comments", new { id = Model.CommentID }, new { @class = "btn btn-sm", @style = "color:white" })
            if (System.Web.HttpContext.Current.User.Identity.Name.ToLower() == Model.User.NickName.ToLower())
            {
                { <span style="margin-left:0.1%;"></span>
                    @Html.ActionLink("Edit", "Edit",  "Comments", new { id = Model.CommentID }, new { @class = "btn btn-sm", @style = "color:white" });
                    <span style="margin-left:0.1%;"></span>
                    @Html.ActionLink("Delete", "Delete",  "Comments", new { id = Model.CommentID }, new { @class = "btn btn-sm", @style = "color:white" })
                }
            }
        }
    </div>

