@model LesioBlog2_Repo.Models.Comment

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    if (Request.IsAuthenticated)
    {
        <div style="margin-left: 30px; padding: 2px">
            Comment here:
            <br>
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            <br />
            <span style="margin-left: 0px">
                <div class="form-group">
                    <div class=" col-md-1">
                        <input type="submit" value="Comment" class="btn btn-secondary" />
                    </div>
                </div>
            </span>
        </div>
    }
}


