@model LesioBlog2_Repo.Models.User
@{
    ViewBag.Title = "Remind the passowrd";

    Layout = "~/Views/Shared/_Layout.cshtml";


}
<br>
<h2>Reset your password here</h2>
<br />

Enter your email adress:


<button>
@Html.TextBoxFor(x => x.Email) 


</button>





