
@model LesioBlog2_Repo.Models.User


@{
    ViewBag.Title = "LogIn";

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>
    Reset your password:
</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(x => x.Email)
    <button class="colorA js-toggle-sendValidationEmail">
        Send the email
        @Html.ValidationMessageFor(x => x.Email)
    </button>

}



